@inject StandardService StandardService
@inject CastleService CastleService
@inject TavernService TavernService

<div class="d-flex align-items-top justify-content-between m-1">
	<Fight />
	<a target="_blank" rel="noopener noreferrer" href="https://www.Regicide.com/site_files/33132/upload_files/RegicideRulesA4.pdf" title="Rules">
		<img class="suit" src="./img/Book.png" />
	</a>
</div>

<div class="my-2">
	<Tavern></Tavern>
</div>

<Hand />